<div class="row-fluid white-section">
    <div id="myCarousel" class="carousel slide">
        <div class="container">
            <div class="vgulp-caption pull-right hidden-phone">
                <span class='st_facebook_vcount' displayText='Facebook'></span>
                <span class='st_twitter_vcount' displayText='Tweet'></span>
                <span class='st_email_vcount' displayText='Email'></span>
                <h2>Claim exclusive booze deals at your favourite joints and stores.</h2>
                <div class="row-fluid">
                    <div class="span4">
                        <a id="video_prompt" rel="prettyPhoto" target="_blank" href="http://youtu.be/YcoyNGjNu34">
                            <img src="img/video_thumb.jpg">
                        </a>
                    </div>
                    <div class="span6">
                        <h5 class="alert-heading">Watch video to learn more &rsaquo;&rsaquo;</h5>
                    </div>
                </div>
                <button class="btn btn-primary btn-large btn-block try-this"><span class="alert-heading">Try this deal</span></button>
                <h5>By Claiming deals you agree that you are above legal drinking age in your region and you accept Vgulp's terms of service and privacy policy.</h5>
            </div>
        </div>
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
            <li data-target="#myCarousel" data-slide-to="3" class=""></li>
            <li data-target="#myCarousel" data-slide-to="4" class=""></li>

        </ol>
        <div class="carousel-inner">
            <div id="slide_one" class="item active">
                <img src="img/deal/slide-4.jpg" alt="">
                <div class="carousel-caption visible-phone">
                    <button class="btn btn-primary btn-large btn-block try-this"><span>Try this deal</span></button>
                </div>
            </div>
            <div id="slide_two" class="item">
                <img src="img/deal/slide-2.jpg" alt="">
                <div class="carousel-caption visible-phone">
                    <button class="btn btn-primary btn-large btn-block try-this"><span>Try this deal</span></button>
                </div>
            </div>
            <div id="slide_three" class="item">
                <img src="img/deal/slide-6.jpg" alt="">
                <div class="carousel-caption visible-phone">
                    <a class="btn btn-primary btn-large btn-block try-this"><span>Try this deal</span></a>
                </div>
            </div>
            <div id="slide_four" class="item">
                <img src="img/deal/slide-1.jpg" alt="">
                <div class="carousel-caption visible-phone">
                    <a class="btn btn-primary btn-large btn-block try-this"><span>Try this deal</span></a>
                </div>
            </div>
            <div id="slide_five" class="item">
                <img src="img/deal/slide-5.jpg" alt="">
                <div class="carousel-caption visible-phone">
                    <button class="btn btn-primary btn-large btn-block try-this"><span>Try this deal</span></button>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
</div>
<div class="row-fluid white-section">
    <div class="span2">
        <h4 class="text-center">As seen on</h4>
    </div>
    <div class="span2 text-center">
        <a href="http://www.nextbigwhat.com/startup-walks-into-a-bar-vgulp-297/"><img src="img/press/Vgulp-covered-on-NextBigWhat.jpg" alt="NextBigWhat"></a>
    </div>
    <div class="span2 text-center">
        <a href="http://www.siliconindia.com/news/startups/Raise-A-Toast-To-Vgulp-A-Startup-That-Offers-Awesome-Drink-Deals-nid-152015-cid-100.html"><img src="img/press/Vgulp-covered-on-Siliconindia.jpg" alt="silicon india"></a>
    </div>
    <div class="span2 text-center">
        <a href="http://yourstory.in/2013/08/identifying-discounts-and-offers-on-alcoholic-beverages-nearby-with-vgulp/"><img src="img/press/Vgulp-covered-on-Yourstory.jpg" alt="Your story"></a>
    </div>
    <div class="span2 text-center">
        <a href="http://startupcentral.in/2013/07/love-your-sundowner-drink-smarter-with-vgulp-15888/"><img src="img/press/Vgulp-covered-on-StartupCentral.jpg" alt="startup central"></a>
    </div>
    <div class="span2 text-center">
        <a href="http://thetechpanda.com/vgulp-grab-a-deal-on-your-next-drink/"><img src="img/press/Vgulp-covered-on-thetechpanda.jpg" alt="tech panda"></a>
    </div>
</div>
<div class="row-fluid white-section margin-top-20">
    <div class="span12">
        <div class="row-fluid">
            <div class="span3 offset1 margin-top-20">

            </div>
            <div class="span4 text-center">
                <h3>Exclusive Booze Deals?</h3>
                <p class="lead">Vgulp deals are exclusively negotiated deals from your favourite liquor stores and hangout joints.</p>

                <p class="lead">Unlike Other deal sites, we give you more booze deal options to choose from. In your favourite hangout place and in a bar close to your in laws.</p>
            </div>
            <div class="span3 text-center">
                <h3>What's special?</h3>
                <p class="lead">Choose from 200+ deals<br/>
                    No payment on the site<br/>
                    Show email at outlet</p>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid intuitive-features white-section">
    <div class="span12 margin-top-20">
        <div class="row-fluid">
            <div class="span12">
                <h3 class="text-center">Intuitive Features, that you've always wanted</h3>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4 text-center">
                <h4 class="text-center margin-bottom-20">Map based discovery</h4>
                <a><img src="img/map-based-discovery.jpg" alt=""></a>
            </div>
            <div class="span4 text-center">
                <h4 class="text-center margin-bottom-20">A Deal Search Engine</h4>
                <a><img src="img/deal-search-engine.jpg" alt=""></a>
            </div>
            <div class="span3 text-center">
                <h4 class="text-center">One click claim process.<br/>No payments!</h4>
                <a><img src="img/one-click-claim.jpg" alt=""></a>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid white-section margin-top-20">
    <div class="span12 text-center">
        <p class="lead">Request Invite, If you haven't already. We will be free forever.</p>
        <!-- ko compose:{model:'requestInvite/vms/requestInvite',view:'requestInvite/views/requestInviteWhiteRow'} --><!-- /ko -->
    </div>
</div>
<div class="row-fluid margin-top-20 promoters hidden-phone hidden-tablet">
    <div class="row-fluid top-curve">

    </div>
    <div class="container-fluid">
        <div class="row-fluid ">
            <div class="span4">
                <div class="nums">
                    <!--nums starts here-->

                    <div class="box">
                        <p class="stone_glyph">Get an insider peek into what we are upto. Join the
                            Vgulp promoter'club group on Facebook.</p> <a
                            href="https://www.facebook.com/groups/vgulppromotersclub/"
                            class="btn btn-large btn-inverse">Join Now!</a>
                        <span> <em>Vgulp Promoters Club</em> </span></div>
                    <!--nums ends here-->
                </div>
                <!--div class="box">
                    <p class="stone_glyph">Get an insider peek into what we are upto. Join the Vgulp promoter'club group on Facebook.</p>
                    <p class="banner">Vgulp promoters club</p>
                    <a href="https://www.facebook.com/groups/vgulppromotersclub/" class="btn btn-large btn-inverse">Join Now!</a>
                </div-->
            </div>
            <div class="span3">
                <div class="news press-speak">

                    <p>Bacchanalian Bangaloreans don&apos;t really need a reason to drink, but in case you are looking for one, it is here.<span><img src="img/quote-btm.gif.png" alt=""></span></p>
                </div>
            </div>
            <div class="span5">
                <span class="integrate"> <em>Connect with us, we care</em> </span><div class="clearfix"></div>
                <ul class="social-icons">
                    <li><a target="_blank" href="https://twitter.com/Vgulp"><img src="img/social-icons/Vgulp-On-Twitter.png" alt=""></a>
                    </li>
                    <li><a target="_blank" href="https://www.facebook.com/vgulp"><img src="img/social-icons/Vgulp-On-Facebook.png" alt=""></a>
                    </li>
                    <li class="last"><a target="_blank" href="https://plus.google.com/107318241571206478161"><img src="img/social-icons/Vgulp-On-Google-Plus.png" alt=""></a></li>
                    <li><a target="_blank" href="http://www.linkedin.com/company/vgulp"><img src="img/social-icons/Vgulp-On-LinkedIn.png" alt=""></a>
                    </li>
                    <li><a target="_blank" href="#"><img src="img/social-icons/Vgulp-On-Tumblr.png" alt=""></a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
<!-- for seo -->
<div id="deals" style="display: none">
    <h1>Booze deals bangalore</h1>
    <a href="bangalore-drink-deals/barleyz-the-brew-house-koramangala.html">barleyz</a>
    <a href="bangalore-drink-deals/the-platter-restaurant-lounge-banashankari.html">platter</a>
    <a href="bangalore-drink-deals/via-milano-italian-restaurant-lounge-koramangala.html">via milano</a>
    <a href="bangalore-drink-deals/peacock-indira-nagar.html">peacock</a>
    <a href="bangalore-drink-deals/woodstok-indira-nagar.html">Woodstock</a>
    <a href="bangalore-drink-deals/chairmans-jade-resort-devanahalli.html">Chairman&apos;s Jade Resort</a>
    <a href="careers.html">Careers</a>
    <a href="careers/inside-sales.html">Inside Sales</a>
    <a href="careers/sales-manager.html">Sales Manager</a>
    <a href="careers/marketing.html">Marketing</a>
    <a href="careers/web-developer.html">Web developer</a>
    <a href="careers/web-graphic-designer.html">Graphic designer</a>
    <a href="careers/javascript-ninja.html">Javascript Ninja</a>

</div>
