<div class="container-fluid just-text-container">
    <div class="row-fluid white-section">
        <div class="span12">
            <h2 class="text-center">Would you like to generate more walk-ins and more revenues?
                Put a deal and list your business with Vgulp,
                "The Popular Deals Portal" for Drinkers.</h2>
            <p class="margin-top-20">Simply put, Vgulp helps drinkers find awesome bars / liquor stores nearby and claim deals and discounts they offer - even simpler, the local search and deals platform for drinkers.</p>
        </div>
    </div>
    <div class="row-fluid white-section">
          <div class="span12">
                  <h2>Vgulp by status quo</h2>
                  <p>The press love us. Read all our coverages</p>
          </div>
    </div>
    <div class="row-fluid white-section">

        <div class="span12">
            <!-- ko template:{name:pressSpeakTemplate} -->
            <!-- /ko -->
        </div>
    </div>
    <div class="row-fluid white-section">
        <div class="span12">
            <h2>Current Status</h2>
            <p>Running closed beta, access given to users on a first come, first serve basis. Established presence in <bold>HSR Layout, Koramangala, M.G Road, Brigade Road, Reiand Bellandur</bold>
            </p>
        </div>
    </div>
    <div class="row-fluid white-section">
        <div class="span12">
            <h2>Flagship customers</h2>
            <h4>Madhuloka, Barleyz - The brew house, Via Milano, Lemon Grass (Bhagini Group), Maharaja's, Parika Sea food,Aranya Restaurant, Brewberrys Pub</h4>
        </div>
    </div>
    <div class="row-fluid white-section">
        <div class="span12">
            <h2>Top 5 Reasons you should advertise on Vgulp</h2>
            <ol>
                <li>More revenues from every walk-in</li>
                <li>Stop throwing 90% off deals, and attracting customers who never come back</li>
                <li>Advertise your existing deals, Foster word of mouth and track your return on investment</li>
                <li>Intuitive features in the app, and we are growing fast</li>
                <li>Smartest way of spending your marketing budget, without any additional costs / agency charges</li>
            </ol>
        </div>
    </div>
    <div class="row-fluid white-section">
        <div class="span12">
            <h2>Get started with any of the following Options</h2>
            <ol>
                <li>Give us a call at 96325 48615</li>
                <li>Email us at business@vgulp.com</li>
            </ol>
        </div>
    </div>
</div>
