<div class="row-fluid white-section">
    <div id="header" class="navbar">

        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="logo-vgulp">
                    <a class="brand" href="/index.html"><img src="../img/vgulp-logo.jpg" alt="Vgulp Home"></a>
                </div>
                <div class="nav-collapse collapse navbar-responsive-collapse">

                    <ul class="nav pull-right">
                        <li><a href="#!deal-showcase.html"><button class="btn btn-warning btn-medium nav-special-button" >View all deals</button></a></li>
                        <li><a class="page-links" href="#!about.html">About</a></li>
                        <li><a class="page-links" href="http://blog.vgulp.com">Blog</a></li>
                        <li><a class="page-links" href="#!business.html">Business</a></li>
                        <li><a class="page-links" href="#!careers.html">Work with us</a></li>
                        <li><a class="page-links" href="#!contact.html">Contact</a></li>
                        <li class="divider-vertical"></li>
                        <li><button onclick='javascript:window.location.href="http://beta.app.vgulp.com/oauth/facebook/authenticate"' class="btn signup-small">Login</button></li>
                    </ul>
                </div><!-- /.nav-collapse -->
            </div>
        </div><!-- /navbar-inner -->
    </div>       <!-- Navbar end-->
    <div class="row-fluid text-center" data-bind="visible: router.isNavigating">
        <div class="span4 offset4">
            <div class="alert alert-warn text-center">
                <span>Loading..</span>
                <img src="../img/ajax-loader.gif">
            </div>
        </div>
    </div>

    <!-- ko router: {transition:'entrance', cacheViews:true} --><!-- /ko -->
    <div id="footer" class="row-fluid white-section margin-top-20">
        <div class="span12">
            <ul>
                <li><a class="page-links" href="#!about.html">About</a></li>
                <li><a class="page-links" href="http://blog.vgulp.com">Blog</a></li>
                <li><a class="page-links" href="#!business.html">Business</a></li>
                <li><a class="page-links" href="#!careers.html">Work with us</a></li>
                <li><a class="page-links" href="#!contact.html">Contact</a></li>
                <li class="divider-vertical"></li>
            </ul>
            <ul class="nav pull-right">
                <li><a>&copy;Vgulp 2013</a></li>
                <li class="divider-vertical"></li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>

            </ul>
        </div>
    </div>  <!--footer end-->
</div>
