<div class="row-fluid white-section">
    <div class="span12 careers_banner">
        <img src="img/Get-Gulped.jpg">
        <div class="copy-gulped hero-unit">

            <h1>Get Gulped!</h1>

            <p class="gulped-text margin-top-20">We are on a mission. Making drinking responsible and social. We are quirky in a good way. We believe we are bringing about a positive change, and we want to do this fast. We also got funded for it. We'd love your help in building the next phase of Vgulp. Get gulped - come join us!</p>
            <span class='st_facebook_hcount' displayText='Facebook'></span>
            <span class='st_twitter_hcount' displayText='Tweet'></span>
            <span class='st_email_hcount' displayText='Email'></span>
        </div>
    </div>
</div>
<div class="row-fluid white-section">
    <div class="span2">
        <h4 class="text-center">As seen on</h4>
    </div>
    <div class="span2 text-center">
        <a href="http://www.nextbigwhat.com/startup-walks-into-a-bar-vgulp-297/"><img src="img/press/Vgulp-covered-on-NextBigWhat.jpg" alt="NextBigWhat"></a>
    </div>
    <div class="span2 text-center">
        <a href="http://www.siliconindia.com/news/startups/Raise-A-Toast-To-Vgulp-A-Startup-That-Offers-Awesome-Drink-Deals-nid-152015-cid-100.html"><img src="img/press/Vgulp-covered-on-Siliconindia.jpg" alt="silicon india"></a>
    </div>
    <div class="span2 text-center">
        <a href="http://yourstory.in/2013/08/identifying-discounts-and-offers-on-alcoholic-beverages-nearby-with-vgulp/"><img src="img/press/Vgulp-covered-on-Yourstory.jpg" alt="Your story"></a>
    </div>
    <div class="span2 text-center">
        <a href="http://startupcentral.in/2013/07/love-your-sundowner-drink-smarter-with-vgulp-15888/"><img src="img/press/Vgulp-covered-on-StartupCentral.jpg" alt="startup central"></a>
    </div>
    <div class="span2 text-center">
        <a href="http://thetechpanda.com/vgulp-grab-a-deal-on-your-next-drink/"><img src="img/press/Vgulp-covered-on-thetechpanda.jpg" alt="tech panda"></a>
    </div>
</div>
<div class="row-fluid white-section margin-top-20 text-center careers_section">
    <div class="span12">
        <div class="container-fluid margin-bottom-20">
            <div class="row-fluid margin-top-20">
                <div class="span12">

                    <h2>Current Openings</h2>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4">
                    <a href="#!careers/sales-manager.html" title="Sales Manager">Sales Manager</a>
                </div>
                <div class="span4">
                    <a href="#!careers/marketing.html" title="Marketing">Marketing / Content</a>
                </div>
                <div class="span4">
                    <a href="#!careers/web-graphic-designer.html" title="Web Graphic Designer">Web Graphic Designer</a>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4">
                    <a href="#!careers/inside-sales.html" title="Inside sale">Inside sales</a>
                </div>
                <div class="span4">
                    <a href="#!careers/web-developer.html" title="Web Developer">Web Developer</a>
                </div>
                <div class="span4">
                    <a href="#!careers/javascript-ninja.html" title="Javascript Ninja">Javascript Ninja</a>
                </div>
            </div>
            <div class="row-fluid margin-top-20">
                <div class="span12">
                    <p class="muted">Does any of these sound like you? Write to getgulped@vgulp.com with a little something about yourself. Cheers!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid white-section  margin-top-20">
    <div class="span12">
        <div class="container">
            <div class="row-fluid">
                <div class="span12">
                    <h2 class="text-center">Read our 10 step hiring philosophy</h2>
                    <p class="text-center">From flexible work hours, to wear anything, to work from anywhere and stock options, you have all the more reasons to get gulped and divorce your boss!. Need inspirations that doesn't burn a hole in your wallet, claim a deal of ours.</p>
                </div>
            </div>
            <div class="row-fluid  margin-top-20">
                <div class="span5 offset1">
                    <img src="img/hustlers1.jpg">
                </div>
                <div class="span5">
                    <div id="myCarousel" class="carousel slide careers_carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                            <li data-target="#myCarousel" data-slide-to="3" class=""></li>
                            <li data-target="#myCarousel" data-slide-to="4" class=""></li>
                            <li data-target="#myCarousel" data-slide-to="5" class=""></li>
                            <li data-target="#myCarousel" data-slide-to="6" class=""></li>
                            <li data-target="#myCarousel" data-slide-to="7" class=""></li>
                            <li data-target="#myCarousel" data-slide-to="8" class=""></li>

                        </ol>
                        <div class="carousel-inner">

                            <div id="slide_two career_slide" class="item active career_slide">
                                <h3>Philosophy #1</h3>
                                <p class="lead">Hustling is an ‘overkill’ed word, but that is fu***n everything to us and that means magical results</p>
                                <a href="http://blog.vgulp.com/post/62135589054/hiring-philosophy-top-10-things-from-the-bottom-of" class="btn btn-large btn-primary text-center">Read More</a>
                            </div>
                            <div id="slide_three career_slide" class="item career_slide">
                                <h3>Philosophy #2</h3>
                                <p class="lead">We don’t care about your freakin qualification:</p>
                                <a href="http://blog.vgulp.com/post/62135589054/hiring-philosophy-top-10-things-from-the-bottom-of" class="btn btn-large btn-primary text-center">Read More</a>

                            </div>
                            <div id="slide_four career_slide" class="item career_slide">
                                <h3>Philosophy #3</h3>
                                <p class="lead">We are a flat organization and always will be, care about everyone else</p>
                                <a href="http://blog.vgulp.com/post/62135589054/hiring-philosophy-top-10-things-from-the-bottom-of" class="btn btn-large btn-primary text-center">Read More</a>

                            </div>
                            <div id="slide_five" class="item career_slide">
                                <h3>Philosophy #4</h3>
                                <p class="lead">Common Sense, Skills, Openness &amp; Speed aren’t exclusive</p>
                                <a href="http://blog.vgulp.com/post/62135589054/hiring-philosophy-top-10-things-from-the-bottom-of" class="btn btn-large btn-primary text-center">Read More</a>

                            </div>
                            <div id="slide_six" class="item career_slide">
                                <h3>Philosophy #5</h3>
                                <p class="lead">There’s a plan for everyone who comes on board</p>
                                <a href="http://blog.vgulp.com/post/62135589054/hiring-philosophy-top-10-things-from-the-bottom-of" class="btn btn-large btn-primary text-center">Read More</a>

                            </div>
                            <div id="slide_seven" class="item career_slide">
                                <h3>Philosophy #6</h3>
                                <p class="lead">Ambition matters, but staying the course matters more</p>
                                <a href="http://blog.vgulp.com/post/62135589054/hiring-philosophy-top-10-things-from-the-bottom-of" class="btn btn-large btn-primary text-center">Read More</a>

                            </div>
                            <div id="slide_eight" class="item career_slide">
                                <h3>Philosophy #7</h3>
                                <p class="lead">Independence, Respect and Freedom: What they mean for us</p>
                                <a href="http://blog.vgulp.com/post/62135589054/hiring-philosophy-top-10-things-from-the-bottom-of" class="btn btn-large btn-primary text-center">Read More</a>

                            </div>
                            <div id="slide_nine" class="item career_slide">
                                <h3>Philosophy #8</h3>
                                <p class="lead">Character, Fun &amp; Culture</p>
                                <a href="http://blog.vgulp.com/post/62135589054/hiring-philosophy-top-10-things-from-the-bottom-of" class="btn btn-large btn-primary text-center">Read More</a>

                            </div>
                            <div id="slide_one" class="item career_slide">
                                <h1 class="text-center">Philosophy #9</h1>
                                <p class="lead">Things don’t always go per plan</p>
                                <a href="http://blog.vgulp.com/post/62135589054/hiring-philosophy-top-10-things-from-the-bottom-of" class="btn btn-large btn-primary text-center">Read More</a>

                            </div>
                        </div>
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid white-section  margin-top-20">
    <div class="span12 text-center">
        <h2>Want us to create an opening for you?</h2>
        <p>Write to getgulped@vgulp.com. We are always looking for talented quirky individuals who can bring a fresh perspective.</p>
    </div>

</div>
<!-- for seo -->
<div id="deals" style="display: none">
    <h1>Booze deals bangalore</h1>
    <a href="bangalore-drink-deals/barleyz-the-brew-house-koramangala.html">barleyz</a>
    <a href="bangalore-drink-deals/the-platter-restaurant-lounge-banashankari.html">platter</a>
    <a href="bangalore-drink-deals/via-milano-italian-restaurant-lounge-koramangala.html">via milano</a>
    <a href="bangalore-drink-deals/peacock-indira-nagar.html">peacock</a>
    <a href="bangalore-drink-deals/woodstok-indira-nagar.html">Woodstock</a>
    <a href="bangalore-drink-deals/chairmans-jade-resort-devanahalli.html">Chairman&apos;s Jade Resort</a>
    <a href="careers.html">Careers</a>
    <a href="careers/inside-sales.html">Inside Sales</a>
    <a href="careers/sales-manager.html">Sales Manager</a>
    <a href="careers/marketing.html">Marketing</a>
    <a href="careers/web-developer.html">Web developer</a>
    <a href="careers/web-graphic-designer.html">Graphic designer</a>
    <a href="careers/javascript-ninja.html">Javascript Ninja</a>

</div>
