<div id="footer" class="row-fluid white-section margin-top-20">
    <div class="span12">
        <ul>
            <li><a class="page-links" href="http://www.vgulp.com/about.html">About</a></li>
            <li><a class="page-links" href="http://blog.vgulp.com">Blog</a></li>
            <li><a class="page-links" href="http://www.vgulp.com/business.html">Business</a></li>
            <li><a class="page-links" href="http://www.vgulp.com/careers.html">Work with us</a></li>
            <li><a class="page-links" href="http://www.vgulp.com/contact.html">Contact</a></li>
            <li class="divider-vertical"></li>
        </ul>
        <ul class="nav pull-right">
            <li><a>&copy;Vgulp 2013</a></li>
            <li class="divider-vertical"></li>
            <li>&nbsp;</li>
            <li>&nbsp;</li>

        </ul>
    </div>
</div>  <!--footer end-->