<div id="header" class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="logo-vgulp">
                <a class="brand" href="http://www.vgulp.com/"><img src="img/vgulp-logo.jpg" alt="Vgulp Home"></a>
            </div>
            <div class="nav-collapse collapse navbar-responsive-collapse">

                <ul class="nav pull-right">
                    <li><a href="http://www.vgulp.com/deal-showcase.html"><button class="btn btn-warning btn-medium" >View all deals</button></a></li>
                    <li><a class="page-links" href="http://www.vgulp.com/about.html">About</a></li>
                    <li><a class="page-links" href="http://blog.vgulp.com">Blog</a></li>
                    <li><a class="page-links" href="http://www.vgulp.com/business.html">Business</a></li>
                    <li><a class="page-links" href="http://www.vgulp.com/careers.html">Work with us</a></li>
                    <li><a class="page-links" href="http://www.vgulp.com/contact.html">Contact</a></li>
                    <li class="divider-vertical"></li>
                    <li><button onclick='javascript:window.location.href="http://beta.app.vgulp.com/oauth/facebook/authenticate"' class="btn signup-small">Login</button></li>
                </ul>
            </div><!-- /.nav-collapse -->
        </div>
    </div><!-- /navbar-inner -->
</div>       <!-- Navbar end-->