<div id="ageGate" class="messageBox text-center">
    <div class="modal-header">
        <h3><strong>Age Restricted Area</strong></h3>
    </div>
    <div class="modal-body">
        <h5 class="margin-top-10">We are glad you are here</h5>
        <h5>We need to verify if you are above the legal age for drinking</h5>

        <h3>PLEASE CONFIRM YOUR AGE</h3>
        <a href="#" class="btn btn-primary btn-large btn-block" data-bind="click:confirmLegalAge">I am of LEGAL DRINKING AGE in my REGION</a>
        <p>Use of this site is for personal use in countries and territories where the consumption of alcoholic beverages is lawful.<br/>
            Vgulp should be used by persons who are lawfully permitted to purchase and consume alcoholic beverages. <br/>
            By entering this site, you agree to our terms and conditions.</p>
    </div>

</div>