<ul class="thumbnails">
    <li class="span4">
        <a href="http://www.nextbigwhat.com/startup-walks-into-a-bar-vgulp-297/"  class="thumbnail">
            <h3>NextBigWhat</h3>
            <p>Bacchanalian Bangaloreans don’t really need a reason to drink, but in case you are looking for one, it is here.</p>
        </a>
    </li>
    <li class="span4">
        <a href="http://yourstory.in/2013/08/identifying-discounts-and-offers-on-alcoholic-beverages-nearby-with-vgulp/" class="thumbnail">
            <h3>YourStory</h3>
            <p>Next time when you are planning booze with friends in Bangalore – don’t forget to check Vgulp
            </p>
        </a>
    </li>
    <li class="span4">
        <a href="http://www.siliconindia.com/news/startups/Raise-A-Toast-To-Vgulp-A-Startup-That-Offers-Awesome-Drink-Deals-nid-152015-cid-100.html" class="thumbnail">
            <h3>SiliconIndia</h3>
            <p>Helping party-heads, light/ moderate and hardcore drinkers by providing negotiated deals, unbelievable offers and discounts.SiliconIndia</span></p>
        </a>
    </li>
</ul>
<ul class="thumbnails">
    <li class="span4">
        <a href="http://thetechpanda.com/vgulp-grab-a-deal-on-your-next-drink/" class="thumbnail">
            <h3>TheTechPanda</h3>
            <p>With hundreds of deals sites running for every conceivable stuff in the market, would anyone think that we would get deals for Drinkers? Enter Vgulp</p>
        </a>
    </li>
    <li class="span4">
        <a href="http://startupcentral.in/2013/07/love-your-sundowner-drink-smarter-with-vgulp-15888/" class="thumbnail">
            <h3>StartupCentral</h3>
            <p>This one is for serious tipplers. An online platform that aims to enable you to make smarter drinking choices</p>
        </a>
    </li>
    <li class="span4">
        <a href="http://www.iamwire.com/2013/08/vglup-helping-drinkers-find-deal-alcoholic-beverages/" class="thumbnail">
            <h3>iamwire</h3>
            <p>A niche online portal ‘Vgulp’ to help people make smart drinking choices.</p>
        </a>
    </li>
</ul>
<ul class="thumbnails">
    <li class="span4">
        <a href="http://www.deccanchronicle.com/130905/lifestyle-offbeat/article/tanked-tipple" class="thumbnail">
            <h3>Deccan Chronicle</h3>
            <p>The two Malayalies look determined to revolutionise the way Bengalureans drinks.</p>
        </a>
    </li>

</ul>

